.home {
    // gap: 20px;

    .user-section {
        align-self: flex-start;

    }

    .container {
        width: 100vw;
        max-width: 500px;

        svg {
            &:not(:first-child) {
                display: none;
            }
        }
    }

    .user-img {
        margin-inline-end: 10px;
        display: block;
        min-width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
        object-position: top;
        border: 4px solid rgba(236, 201, 4, 0.75);
        padding: 5px;
    }

    .user {
        div {
            // margin-inline-start: 0px;
        }
    }

}