.statistics {
    max-height: 90vh;
    overflow: scroll;

    p {
        margin-inline-start: 5px;
        margin-block-start: -5px;
        font-size: 0.85rem;
    }

    h4:not(:first-child) {
        margin-block-start: 50px;
        margin-block-end: 10px;
    }

    h4:first-child {
        margin-block-end: 10px;
    }
}