@mixin customBtn {
    display: flex;
    justify-content: center;
    align-content: center;
    line-height: 70px;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    border: 2px solid whitesmoke;
    transition: background-color .2s ease-in;
    color: whitesmoke;
    text-decoration: none;
    background-color: rgb(14, 107, 228);

    &:hover {
        background-color: rgb(8, 84, 182);
    }

    &:active {
        background-color: rgb(5, 67, 148);
    }

    div {
        svg {
            &:first-child {
                font-size: 28px;
                margin-inline-start: 5px;
            }

            &:not(:first-child) {
                font-size: 18px;
                margin-block-end: 2px;
                margin-inline-start: -2px;
            }
        }
    }
}